.dark-mode:root {
    --body-color: #242424;
    --background: none;
    --sidebar-bg: #151515;
    --sidebar-name: #fff;
    --sidebar-name-bg: #363636;
    --sidebar-name-bg-hover: #424242;
    --sidebar-name-hover: #ff8c8c;
    --text-color: #fff;
    --title-color: #e96262;
    --title-hover: #ff8c8c;
    --border-color: #dddddd;
    --item-color: #242424;
    --border-item-color: #e96262;
    --line-color:#da5f5f;
    --border-img: rgba(255, 87, 87, 0.747);
    --btn-cv: #f93154;
    --btn-cv-text: #fff;
    --btn-cv-hover: var(--btn-cv-text);
    --btn-cv-text-hover: var(--btn-cv);
    --btn-icon:#f93154;
    --btn-icon-text: #fff;
    --btn-icon-hover-bg: var(--btn-icon-text);
    --btn-icon-hover-color: var(--btn-icon);
    --cursor-color: #c0baba;
    --theme-bg: #f93154;
    --toggle-btn-bg:#fff;
    --theme-ball:#fff;
    --ball-dark: #ff8c8c;
    --border-nav-item: #da5f5f;
    --footer-color: #151515;
    --footer-links: #ccc;
    --footer-hover: #e96262;
    --footer-copyright: #131212;
    --copyright-link: #fff;
    --copyright-link-hover:#e96262;
    --copyright-year: #e96262;
    --arrow-color: #f93154;
    --skills-card-border:#3b3b3b;
}

:root {
    --body-color: #ffffff;
    --background: url(../../assets/img/header-background.png);
    --sidebar-bg: #e96262;
    --sidebar-name: #1f1f1f;
    --sidebar-name-bg: #fff;
    --sidebar-name-bg-hover: #f07e7e;
    --sidebar-name-hover: #fff;
    --text-color: #1d1d1d;
    --title-color: #272727;
    --title-hover: #e96262;
    --border-color:#dddddd;
    --item-color: #ffffff;
    --border-item-color: #5c5c5c;
    --line-color:#5c5c5c;
    --border-img: rgba(255, 255, 255, 0.2);    
    --btn-cv: #151515;
    --btn-cv-text: #fff;
    --btn-cv-hover: var(--btn-cv-text);
    --btn-cv-text-hover: var(--btn-cv);
    --btn-icon:#151515;
    --btn-icon-text: #fff;
    --btn-icon-hover-bg: var(--btn-icon-text);
    --btn-icon-hover-color: var(--btn-icon);
    --cursor-color: #c0baba;
    --theme-bg: #ff8181;
    --toggle-btn-bg: #e3e3e3;
    --ball-light: #e96262;
    --border-nav-item: #ffa9a8;
    --footer-color: #fbfbfb;
    --footer-links: #1a1a1a;
    --footer-hover: #e96262;
    --footer-copyright: #ebe9e9;
    --copyright-link:#000;
    --copyright-link-hover: #e96262;
    --copyright-year: #707070;
    --arrow-color: #ff8c8c;
    --btn-icon-hover-bg: #fff;
    --btn-icon-hover-color: #000;
    --skills-card-border:#e9e9e9;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--background);
    background-color: var(--body-color)!important;
    background-repeat: no-repeat;
    background-position: 20% 0%;
}

h1, h2, h3, h4, h5, h6, p, span{
    color: var(--text-color);
}

/*Botão para trocar o Tema*/
.toggle-theme{    
    position: absolute;
    display: flex;
    background-color: var(--theme-bg);
    padding: 10px;
    width: 100%;
    bottom: 0;
    cursor:pointer;
}

.btn-click, .toggle-btn-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button-swt{
    position: relative;
    width: 60px;
    height: 24px;
    overflow: hidden;
}

.button-swt, .button-swt .toggle-btn-bg{
    border-radius: 100px;
}

.btn-cb{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.btn-click{
    z-index: 2;
}

.toggle-btn-bg{
    width: 100%;
    background-color: var(--toggle-btn-bg);
    transition: 0.3s ease all;
    z-index: 1;
}

#button-switch .btn-click:before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 18px;
    height: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: var(--ball-dark);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-switch .btn-cb:checked + .btn-click:before{
    left: 36px;
    background-color: var(--ball-light);
}

#button-switch .btn-click, #button-switch .btn-click:before, #button-switch .toggle-btn-bg{
    transition: 0.3s ease all;
}

.theme-text{
    padding-left:15px;
}

/*Sidebar e navbar*/
#sideNav{
    background-color: var(--sidebar-bg);
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link{
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.nav-item.active{
    border-left: 5px solid var(--border-nav-item);
    padding-left: 5px;
}

.navbarName, .name{
    font-family: 'Julius Sans One', sans-serif;
    font-weight:600;
}

/*Conteudo*/
.aboutName{
    font-size: 50pt;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 6px solid #e96262;
    padding-left: 15px;
    font-family: 'Julius Sans One', sans-serif;
}

.aboutText{
    text-indent: 15px;
    width: 90%;
    padding-top:2rem;
    text-align: justify;
    font-size:15pt;
    font-weight:400;
}

.titles{
    border-top: 1px solid var(--border-color);
    color: var(--title-color);
    padding-top: 30px;
    padding-bottom: 15px;
}

.titles span:hover{
    color:var(--title-hover);
    cursor:pointer;
}

.descriptionItem{
    padding: 0 0 20px 20px;
    position: relative;
    text-align: justify;
}

.descriptionItem::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0px;
    background: var(--item-color);
    border: 2px solid var(--border-item-color);
}

.descriptionLine{
    border-left: 2px solid var(--line-color);
}

.description{
    text-indent:15px;
    text-align: justify; 
}

.date{
    padding-left: 5px;
    padding-top:5px;
    border-left: 2px solid #e96262;
    margin-top:5px;   
}

.btn-cv{
    background-color: var(--btn-cv)!important;
    color:var(--btn-cv-text)!important;
    
}

.btn-cv:hover{
    background-color: var(--btn-cv-hover)!important;
    color:var(--btn-cv-text-hover)!important;
    transition: .6s;
}

.cv{
    position: absolute;
    right: 20px;
    margin-top: -80px;
}

.btn-icon{
    background-color: var(--btn-icon)!important;
    color:var(--btn-icon-text)!important;
    transition: .6s!important;
}

.btn-icon:hover{
    background-color: var(--btn-icon-hover-bg)!important;
    color: var(--btn-icon-hover-color)!important;
}

/*skills*/
.skills{
    width: 100%;
    padding: 15px;
    background-color: var(--skills-card)!important;
    cursor:pointer;
    transition: .6s;
    border: 1px solid var(--skills-card-border)!important;
}

.skills:hover{   
    box-shadow: 2px 1px 4px #ad4343!important;
}

.skills>span>img{
    width: 75%;
    height: 100%;
}

/*Footer*/
footer{
    background-color:var(--footer-color);
}

footer .links{
    display: block;
    margin-block-end: 1em;
    color: var(--footer-links);
}

footer .links:hover{
    color: var(--footer-hover);
}

footer .footer-copyright{    
    background-color: var(--footer-copyright);
    color: var(--copyright-year);
}

footer a{
    color:var(--copyright-link);
}

footer a:hover{
    color:var(--copyright-link-hover);
}

.footerText{
    text-indent: 15px;
    text-align: justify; 
}

.contact{
    border-left: 3px solid #e96262;
    padding-left: 5px;
}

/*Seta*/
.up{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 35px;
    height: 40px;
    text-decoration: none;
    border-radius:10px;
    background-color: var(--arrow-color);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    border: none;
    animation: 0.5s move;
}

.scrollUp{
    display:flex!important;
}

/*Animação de texto*/
@keyframes move{
    from {
        bottom: 0px;
    }
    to {
        bottom: 40px;
    }
}

#textAnimation:after{
    content: '';
    display: inline-block;
    background-color: var(--cursor-color);
    margin-left: 2px;
    height: 35px;
    width: 2px;
    animation: cursor 0.4s infinite;
}

@keyframes cursor{
    0%  {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100%{opacity: 0;}
}

/*Media*/
@media (max-width:992px){
    .circleImg{        
        display:none;
    }

    .mobileImg{
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid var(--border-img);
        border-radius: 50% !important;
        margin: 0 auto;
        display: table;
    }

    .name{
        display:none!important;
    }

    main{
        padding-top:90px;
    }

    footer{
        padding-top:1px;
    }

    .aboutName{
        font-size: 28pt!important;
    }

    .aboutText{
        width: 100%!important;
    }

    .toggle-theme{
        display: none;
    }
}

@media (max-width:768px){
    .contact{
        border-left: none;
        border-bottom: 1px solid #e96262;
        padding-bottom: 5px;
    }
}

@media (max-width:340px){
    .contact{
        border-left: none;
        border-bottom: 1px solid #e96262;
        padding-bottom: 5px;
    }
}

@media (min-width:992px){   
    .navbarName{
        display:none;
    }

    .mobileImg{        
        display:none;
    }

    #sideNav{
        padding-left: 0;
        padding-right: 0;       
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 18%;
        height: 100vh;
    }

    #sideNav .navbar-brand{
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .circleImg{
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid var(--border-img);
        border-radius: 50% !important;
    }

    #sideNav .navbar-brand .circleImg:hover{
        opacity: 0.9;
    }

    #sideNav .navbar-collapse{
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav{
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{
        display: block;
    }

    #sideNav .name{
        text-align: center;
        color: var(--sidebar-name);
        background-color:var(--sidebar-name-bg);
    }
    
    #sideNav .name:hover{
        background-color: var(--sidebar-name-bg-hover);
        color:var(--sidebar-name-hover);
        cursor:pointer;
    }

    main{
        padding-top: 10rem;
        margin-left:18%;
    }

    footer{
        margin-top:120px;
        padding-top: 1rem;
        margin-left:18%;
    }

    .container{
        padding: 0rem 3rem 0rem 3rem!important;
    }

    .mobile-toggle-theme{
        display: none;
    }
}

@media (min-width:1200px){
    .skills>span>img{
        width: 100%;
    }
}
@media (min-width:1920px){
    body{
        background-position: 130% 0%!important;
    }    
}

@media (min-width:2100px){
    main{
       margin-left:0%;
    }    

    #sideNav{
        width:15%;
    }
    footer {
        margin-left: 0;
    }
}
